{% extends "loggedinbase.html" %}
{% load i18n adminmedia %}
{% load url from future %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Password change' %}</div>{% endblock %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div style="width:600px; margin: 0 auto;">
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h3>{% trans 'Password change' %}</h3>

<p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<table>
<tr class="form-row">
    <th><label for="id_old_password" class="required">{% trans 'Old password' %}:</label></th><td>{{ form.old_password }}</td>
    <td class="form-error">{{ form.old_password.errors }}</td>
</tr>

<tr class="form-row">
    <th><label for="id_new_password1" class="required">{% trans 'New password' %}:</label></th><td>{{ form.new_password1 }}</td>
    <td class="form-error">{{ form.new_password1.errors }}</td>
</tr>

<tr class="form-row">
    <th><label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label></th><td>{{ form.new_password2 }}</td>
    <td class="form-error">{{ form.new_password2.errors }}</td>
</tr>
</table>

<div class="submit-row" style="margin-top:10px">
    <input type="submit" value="{% trans 'Change my password' %}" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
