{% extends "twoocols.html" %}
{% block headcontent %}
<script type="text/javascript" src="{{ STATIC_PREFIX }}js/timesheet.js">
</script>
{% endblock %}
	{% block leftcol %}
			<form onSubmit="sendEntry(this); return false;" id="entryform">
				<table>
					{{ entry_form }}
					<br/>
					<tr>
						<td></td>
						<td style="text-align: right;">
							<input type="submit" value="Add"/>
						</td>
					</tr>
				</table>
				<div class="message"></div>
			</form>
	{% endblock %}
	{% block rightcol %}
			<table id="list">
				<thead>
					<tr>
						<th>Bill</th>
						<th>Date</th>
						<th>Start time</th>
						<th>End time</th>
						<th>Total [h]</th>
						<th></th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<br/>
			<br/>
			<div id="dltsbut" style="width: 100px;">Make Timesheet</div>
	{% endblock %}
