{% extends "twoocols.html" %}
{% load url from future %}
{% block headcontent %}
<script type="text/javascript">
	var apiUrl = "{% url 'timesheet.views.main_view' %}" + "/api/v1/";
$(document).ready(function() {
	$('#dlts').button({ text: 'Download' }).click(function() {
		window.location.href = "downloadtimesheet?ts=" + $(this).attr('value');
	});
	$('.editbut')
	.button({ icons: { primary: 'ui-icon-search' }, text: false, background: false})
	.css('height','18px')
	.click(function() {
		location.hash = '#!' + $(this).attr('value');
	}); 
	$(window).hashchange(function() {
		var m = location.hash.match(/^#!(\d+)$/);
		if (m) loadTimesheet(m[1]); 

		
	});
	$(window).hashchange();
});

function loadTimesheet(id) {
	$('#tsdetails').fadeOut('fast',function(){
		$.getJSON('api/v1/'+'timesheet/'+id, function(data) {
			if (data) {
				$('#tsdetails tbody').html('');
				$.each(data.entries, function(key,entry) {
					$('#tsdetails tbody').append($('<tr></tr>')
					.append('<td>' + entry.date + '</td>')
					.append('<td>' + entry.start_time + '</td>')
					.append('<td>' + entry.end_time + '</td>')
					.append('<td>' + timeDiff(entry.end_time,entry.start_time) + '</td>')
					);
				});
				$('#tsdetails tbody').find('tr:even').addClass('odd');
				$('#tsdetails tbody').find('tr:odd').addClass('even');
				$('#dlts').attr('value',data.id);
				$('#tsdetails').fadeIn();
			}
		});


	});
}
function timeDiff(endTime, startTime) {
	startTime = startTime.split(':');
	endTime = endTime.split(':');
	var diff = parseInt(endTime[0])*60+parseInt(endTime[1])-parseInt(startTime[0])*60-parseInt(startTime[1]);
	var hourDiff = diff/60;
	if (hourDiff<0) hourDiff += 24;
	diff -= hourDiff*60*60;
	var minDiff = Math.floor(diff/60);
	return hourDiff.toFixed(2);
}	
</script>
{% endblock %}
{% block leftcol %}
<table class="list">
	<thead>
		<tr>
			<th>First Date</th>
			<th>Last Date</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		{% for ts in timesheets %}
		<tr class="{% cycle 'odd' 'even' %}">
			<td>{{ ts.first_date }}</td>
			<td>{{ ts.last_date }}</td>
			<td><div class="editbut" value="{{ ts.id }}"></div></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}
{% block rightcol %}
<div id="tsdetails" style="display: none;">
	<table class="list">
		<thead>
			<tr>
				<th>Date</th>
				<th>Start Time</th>
				<th>End Time</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
	<div id="dlts">Download Timesheet</div>
</div>
{% endblock %}
